.heading_container {
	display: flex;
	column-gap: 20px;
	align-items: center;
	padding: 20px 0;
	min-height: 140px;
}

.custom_heading_img_container {
	& div {
		overflow: hidden;
		border-radius: 50%;
		width: 100px;
		height: 100px;
	}
	& div img {
		object-fit: cover;
	}
}

.heading_small {
	font-size: 1rem;
	color: var(--highlightColor);
	font-weight: 700;
	display: block;
	transform-origin: top center;
}

.heading_large {
	font-weight: 700;
	font-size: clamp(2rem, 5vw, 3rem);
	color: var(--white);
}
