.hero {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 100px 0;

	& .hero__media_container,
	& .hero__content_container {
		width: 100%;
		position: relative;
	}

	& .hero__content_container {
		z-index: 5;
		top: 100px;
	}

	& .hero__media {
		position: absolute;
		left: -50px;
		top: -80px;
		overflow: hidden;
		border-radius: 15px;

		& .hero__img {
			object-fit: cover;
		}

		&::before {
			content: '';
			display: block;
			width: 100%;
			height: 100%;
			opacity: 0.8;
			background-image: linear-gradient(180deg, #b030aa 0%, #2e1850 100%);
			border-radius: 15px;
			position: absolute;
			top: 0;
			left: 0;
		}
	}

	& .hero__title_highlight {
		color: var(--highlightColor);
	}

	& h1 {
		font-size: 15vw;
	}

	& .hero__subtitle {
		font-size: clamp(1.2rem, 2vw, 1.5rem);
		font-weight: 300;
		margin: 10px 0 40px;
	}
}

@media (min-width: 480px) {
	.hero {
		& h1 {
			font-size: clamp(4rem, 5vw + 3.5rem, 12rem);
		}
	}
}

@media (min-width: 768px) {
	.hero {
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
		column-gap: 20px;

		& .hero__media_container {
			width: 40%;
		}

		& .hero__content_container {
			width: 60%;
			top: 0;
		}

		& .hero__media {
			width: 115%;
			height: 80vh;
			min-height: 600px;
			top: -160px;
			left: 0;
			border-radius: 15px;

			& img {
				width: 100%;
			}

			&::before {
				opacity: 0.65;
			}
		}
	}
}
