.social_icons {
	& li {
		display: block;
		margin: 1rem 1rem;
		font-size: 2rem;

		& a {
			color: var(--highlightColor);
		}
	}
}

@media (min-width: 768px) {
	.social_icons {
		& li {
			display: inline-block;
			margin: 0 1rem;
		}
	}
}
