.about_section {
	width: 100%;
	min-height: 700px;
	margin: 0 auto;
	padding: 200px 0 100px 0;
	display: flex;
	align-items: center;
	position: relative;

	& p {
		margin: 30px 0;
	}

	ul li {
		margin-bottom: 15px;
	}
}

.about_section__container {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	column-gap: 25px;
	background-color: var(--backgroundColor);

	& .about_section__col1,
	& .about_section__col2 {
		width: 100%;
	}
}

.btn_container {
	display: inline-block;
}

.c_shape {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
}

@media (min-width: 768px) {
	.about_section__container {
		& .about_section__col1,
		& .about_section__col2 {
			width: calc(50% - 25px);
		}
	}
}
